.chat
  .chat__side
    .chat__side__user
      %h5  sample_user
      .chat__side__user__actions
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o.fa-lg{hidden: "true"}
        = link_to edit_user_registration_path do
          %i.fa.fa-cog.fa-lg{hidden: "true"}
    %ul.chat-groups
      %li.chat-group
        = render partial: 'groups/group', collection: @groups
  .chat-main
    .chat-header
      .chat-header__left
        %h2
          = @group.name
        %p.chat-header__users
          Members: sample_user
      .chat-header__right
        = link_to 'edit', class: 'chat-header__edit-btn' do
          Edit
    .chat-body
      %ul.chat-messages
        %li.chat-message
          = render partial: 'messages/message', collection: @messages
    .chat-footer
      = form_for [@group, @message] do |f|
        = f.text_area :content, placeholder: 'type a message'
        = f.submit "SEND"
